@import url(https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap);

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


:root{
    --headerfont: 'Bebas Neue', 'sans-serif';
    --regfont:'Montserrat', 'sans-serif';
    --dark-grey:#0D0D0D;
    --lightest-grey:#F2F2F2;
    --baby-blue:#7ABFBF;
    --sky-blue:rgba(122, 191, 191, .5);
    --orange:#EB5428;

}

html{
	
	width:414px;
	background-color: var(--lightest-grey);
}

body{
	display:grid;
	width:414px;	
	box-sizing: border-box;
}

header{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    width: 414px;
    position: relative;
    top: 100px;
	box-sizing: border-box;

}

h1, h2, h3, nav, menu li, #social li, footer{
	font-family: var(--headerfont);
}

nav, menu li, #social li, footer{
	font-size:20px;
}

p, dd, li, nav, input{
	font-family:var(--regfont);
	font-size:16px;
}

dt{
/*i dont have this tag*/
}

ul li{
	text-decoration: none;

}

h1{
	font-size: 40px;
	position:relative;
	justify-items: center;
	align-self: baseline;
	display:grid;
	top: 75px;
}

h2{
	font-size: 30px;
	padding-bottom: 25px;
	padding-top:5px;
	display:flex;
	justify-content: center;
}

h3{
	font-size: 25px;
}

#tools{
	display:grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	position:relative;
	justify-content: center;
	width:414px;
	box-sizing: border-box;
}

#tools svg[class~="download"]{
	grid-row:1/2 ;
	grid-column: 1/2;
}

#tools svg[class~="share"]{
	grid-row: 1/2;
	grid-column: 2/3;
}

#tools svg[class~="printer"]{
	grid-row: 1/2;
	grid-column: 3/4;
}

#tools svg[class~="symlink"]{
	grid-row: 1/2 ;
	grid-column: 4/5;
}

#tools li a{
	text-decoration: none;
	color:var(--orange);
	
}

#tools li{
	display:flex;
	justify-content: center;
}

#tools li{
	position:relative;
	right:10px;
}

#tools li:nth-child(1) p{
	grid-row: 2/3;
	grid-column: 1/2;
	position: relative;
	left:10px;
}

#tools li:nth-child(2) p{
	grid-row: 2/3;
	grid-column: 2/3;
	left:10px;
	position: relative;
}

#tools li:nth-child(3) p{
	grid-row: 2/3;
	grid-column: 3/4;
	position: relative;
}

#tools li:nth-child(4) p{
	grid-row: 2/3;
	grid-column: 4/5;
	width:127px;
	position: relative;
}

#tools li:nth-child(4) button{
	position:relative;
	left:30px;
}

#tools li:nth-child(3) button{
position:relative;
right:10px;
}

main{
max-width:414px;
position:relative;
top:50px;
box-sizing: border-box;
}

main img[alt~="street"]{
	max-width: 100%;
  	height: auto;
}

main p{
line-height: 1.5;
padding: 10px 5px;
width:414px;
box-sizing: border-box;
}

span{
	font-weight: 700;
}

main ul{
	line-height:2;
	list-style-type: square;
	box-sizing: border-box;
	padding-left:25px;
}

main ol{
	line-height:2;
	list-style-type:decimal;
	box-sizing: border-box;
	padding-left:25px;
}

main ol li{
	padding:5px 0;
}

#secondrecipe{
	background-color: var(--baby-blue);
	margin-top:10px;
	box-sizing: border-box;
}

.side-dishes{
	display:grid;
	width:414px;
	grid-template-columns:1fr 1fr;
	grid-template-rows: 1fr 1fr 2fr;
	box-sizing: border-box;
}


#secondrecipe h2{
	padding-top:10px;
}

.side-dishes h3{
	grid-column: 2/3;
	grid-row:1/2;
	position:relative;
	top:10px;
	height:30px;
	width:250px;
}

.side-dishes img{
	grid-column:1/2;
	grid-row:1/4 ;
	width:100px;
	height: auto;
	padding:20px;
}

.side-dishes p{
	grid-column:2/3;
	grid-row:2/3;
	width:250px;
}

.side-dishes div{
	grid-column:2/3;
	grid-row:3/4;
	position:relative;
	bottom:10px;
	width:250px;
}

nav{
	position: relative;
    bottom: 3280px;
    padding-left: 20px;
    display: grid;
    width: 414px;
	height:80px;
    grid-template-columns: 1fr 1fr 1fr;
    box-sizing: border-box;
	background-color:#ffffff;
}

.avatar{
	position: relative;
    left: 274px;
    display: flex;
    width: 100px;
    bottom: 190px;
}

#menu-svg{
	position:relative;
	left:10px;
}

.avatar p{
	position: relative;
    right: 25px;
    font-weight: 700;
	color:var(--dark-grey);
}

.avatar a{
	width:100px;
	position: relative;
    left: 35px;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: var(--lightest-grey);
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	padding: 12px 16px;
	z-index: 1;
	top: 80px;
	left: -20px;
}

  
  .dropdown:hover .dropdown-content {
	display: block;
}

menu{
	list-style-type: none;
	text-decoration: none;
	width:80px;
}

menu button{
width:100px;
height:auto;
}

menu li{
	padding:5px 0;

}

menu div li a img{
width:100px;
height:auto;
max-width:100%;
justify-content: center;
}

menu a{
	text-decoration: none;
	color:var(--orange);
	padding:10px;
	font-weight: 600;
	display:grid;
	justify-content: center;
}

menu p{
 	width:100px;
	height:50px;
	justify-self: center;
}

.home-logo{
	position: relative;
    width: 200px;
    height: 80px;
    left: 80px;
    bottom: 100px;
    background-color: var(--orange);
    border: var(--orange);
}

.search{
    position: relative;
    bottom: 3270px;
    left: 72px;
	width:254px;
}

.search button{
	width: 50px;
    height: auto;
    position: relative;
    top: 10px;
    border: 2px solid var(--orange);
    background-color: var(--orange);
}

input{
	height: 45px;
    border: 2px solid var(--orange);
    position: relative;
    left: 4px;
}

#social{
	position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    bottom: 70px;
    justify-content: center;
    width: 414px;
	box-sizing: border-box;
}

#social:nth-child(4){
	right:30px;
}

#social a{
	width: 103px;
    position: relative;
    left: 35px;
    text-decoration: none;
    color: var(--orange);
    font-weight: 600;
}
#social a p{
	position: relative;
    right: 19px;
	padding:0 2px;
}



footer{
	width:414px;
	box-sizing: border-box;
}

footer .copy{
    position: relative;
    display: flex;
    justify-content: center;
    top: 200px;
    font-weight: 600;
}

footer img{
	height: auto;
    width: 200px;
    position: relative;
    left: 100px;
    bottom: 75px;
    padding: 5px;
    
}